In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('/Users/jxhn/Desktop/IRONHACK/Week_7/Day_2/Afternoon/lab-t-tests-p-values/files_for_lab/machine2.txt', sep='\t')

In [3]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [4]:
# Selecting the 'New machine' column for the one-sample t-test and converting it to a NumPy array
sample = data['New machine'].values

# Performing one-sample t-test
popmean = 9  # Population mean for comparison
t_statistic, p_value = st.ttest_1samp(sample, popmean=popmean)

# One-tailed test - dividing p-value by 2 to get the one-tailed p-value
one_tailed_p_value = p_value / 2

# Printing the results
print("The t statistic of our sample is: {:.2f} and the corresponding one-tailed p-value is: {:.2f}".format(t_statistic, one_tailed_p_value))

The t statistic of our sample is: 153.34 and the corresponding one-tailed p-value is: 0.00

In [12]:
t_statistic, p_value = st.ttest_1samp(sample, popmean = 2, alternative = "two-sided")
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.2f}".format(t_statistic, p_value))

The t statistic of our sample is: 185.72 and the corresponding p-value is: 0.00

In [5]:
sample = data['New machine'].values

# Calculating sample mean, sample standard deviation, and standard error of the mean (sem)
sample_mean = sample.mean()
sample_std = sample.std()
sem = sample_std / np.sqrt(len(sample))

# Calculating population mean and population standard deviation
pop_mean = data['New machine'].mean()
pop_std = data['New machine'].std()

# Calculating the t-statistic
t = (sample_mean - pop_mean) / sem

# Calculating the corresponding p-value for a two-tailed test
p_value = 2 * (1 - st.t.cdf(np.abs(t), df=len(sample) - 1))

# Printing the results
print("Population mean is: {:.2f}".format(pop_mean))
print("Population standard deviation is: {:.2f}".format(pop_std))
print()
print("Our sample mean is: {:.2f}".format(sample_mean))
print("Our sample standard deviation is: {:.2f}".format(sample_std))
print("The sem is: {:.2f}".format(sem))
print()
print("Our statistic is: {:.2f}".format(t))
print("The p-value corresponding to our statistic is: {:.2f}".format(p_value))
print("The significance level is set to 0.05")

Population mean is: 42.14
Population standard deviation is: 0.68

Our sample mean is: 42.14
Our sample standard deviation is: 0.65
The sem is: 0.21

Our statistic is: 0.00
The p-value corresponding to our statistic is: 1.00
The significance level is set to 0.05

In [6]:
# Selecting the 'New machine' column for the one-sample t-test and converting it to a NumPy array
sample1 = data['    Old machine'].values

# Performing one-sample t-test
popmean = 9  # Population mean for comparison
t_statistic, p_value = st.ttest_1samp(sample1, popmean=popmean)

# One-tailed test - dividing p-value by 2 to get the one-tailed p-value
one_tailed_p_value = p_value / 2

# Printing the results
print("The t statistic of our sample is: {:.2f} and the corresponding one-tailed p-value is: {:.2f}".format(t_statistic, one_tailed_p_value))

The t statistic of our sample is: 144.35 and the corresponding one-tailed p-value is: 0.00

In [7]:
sample1 = data['    Old machine'].values

# Calculating sample mean, sample standard deviation, and standard error of the mean (sem)
sample1_mean = sample1.mean()
sample1_std = sample1.std()
sem = sample1_std / np.sqrt(len(sample1))

# Calculating population mean and population standard deviation
pop_mean = data['    Old machine'].mean()
pop_std = data['    Old machine'].std()

# Calculating the t-statistic
t = (sample1_mean - pop_mean) / sem

# Calculating the corresponding p-value for a two-tailed test
p_value = 2 * (1 - st.t.cdf(np.abs(t), df=len(sample1) - 1))

# Printing the results
print("Population mean is: {:.2f}".format(pop_mean))
print("Population standard deviation is: {:.2f}".format(pop_std))
print()
print("Our sample mean is: {:.2f}".format(sample1_mean))
print("Our sample standard deviation is: {:.2f}".format(sample1_std))
print("The sem is: {:.2f}".format(sem))
print()
print("Our statistic is: {:.2f}".format(t))
print("The p-value corresponding to our statistic is: {:.2f}".format(p_value))
print("The significance level is set to 0.05")

Population mean is: 43.23
Population standard deviation is: 0.75

Our sample mean is: 43.23
Our sample standard deviation is: 0.71
The sem is: 0.22

Our statistic is: 0.00
The p-value corresponding to our statistic is: 1.00
The significance level is set to 0.05

In [13]:
t_statistic, p_value = st.ttest_1samp(sample1, popmean = 2, alternative = "two-sided")
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.2f}".format(t_statistic, p_value))

The t statistic of our sample is: 173.87 and the corresponding p-value is: 0.00

In [8]:
data.columns

Index(['New machine', '    Old machine'], dtype='object')

In [9]:
data2 = pd.read_csv('/Users/jxhn/Desktop/IRONHACK/Week_7/Day_2/Afternoon/lab-t-tests-p-values/files_for_lab/pokemon.csv')

In [10]:
data2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [21]:
sample5 = data2.sample(30, random_state = 1)
sample5['difference'] = sample5['Attack']-sample5['Defense']
sample5.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,difference
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,26
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False,17
175,161,Sentret,Normal,NaN,215,35,46,34,35,45,20,2,False,12
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False,-8
242,224,Octillery,Water,NaN,480,75,105,75,105,75,45,2,False,30

In [22]:
sample_diff_mean, sample_diff_std = sample5['difference'].mean(), sample5['difference'].std(ddof=1)
sample_diff_mean, sample_diff_std

(2.8, 36.32079294288603)

In [23]:
t = sample_diff_mean / ( sample_diff_std / np.sqrt(sample5.shape[0]) )
print("The mean of our samples differences is: {:.2f}".format(sample_diff_mean))
print("The standard deviation of our samples differences is: {:.2f}".format(sample_diff_std))
print("Our t statistics is: {:.2f}".format(t))

The mean of our samples differences is: 2.80
The standard deviation of our samples differences is: 36.32
Our t statistics is: 0.42

In [24]:
tc = st.t.ppf(1-(0.05/2),df= sample5.shape[0] - 1)
tc

2.0452296421327034

In [25]:
1-st.t.cdf(t,df = sample.shape[0] - 1)

0.34137754990668046

In [27]:
# Another way.
st.ttest_rel(sample5['Attack'],sample5['Defense'])

TtestResult(statistic=0.4222438544846934, pvalue=0.6759611742317202, df=29)

In [28]:
data3 = pd.read_excel('/Users/jxhn/Desktop/IRONHACK/Week_7/Day_2/Afternoon/lab-t-tests-p-values/files_for_lab/anova_lab_data.xlsx')

In [29]:
data3.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [32]:
data3.value_counts()

Power   Etching Rate
160 W   5.43            1
        5.59            1
        5.71            1
        6.01            1
        6.22            1
180 W   5.66            1
        5.98            1
        6.24            1
        6.60            1
        6.71            1
200 W   7.55            1
        7.90            1
        8.15            1
        8.79            1
        9.20            1
dtype: int64

In [34]:
data3.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [35]:
print(st.f_oneway(data3[data3['Power '] == '160 W']['Etching Rate'],data3[data3['Power '] == '180 W']['Etching Rate'],
                  data3[data3['Power '] == '200 W']['Etching Rate']))

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [37]:
print("The extremely small p-value (much less than the significance level of 0.05) suggests that there is strong evidence to reject the null hypothesis. The null hypothesis typically states that the means of all groups are equal.Since the p-value is significantly less than 0.05, we can conclude that there are significant differences in the 'Etching Rate' across the three power levels (160 W, 180 W, and 200 W). In other words, at least one of these power levels has a significantly different 'Etching Rate' compared to the others.")

The extremely small p-value (much less than the significance level of 0.05) suggests that there is strong evidence to reject the null hypothesis. The null hypothesis typically states that the means of all groups are equal.Since the p-value is significantly less than 0.05, we can conclude that there are significant differences in the 'Etching Rate' across the three power levels (160 W, 180 W, and 200 W). In other words, at least one of these power levels has a significantly different 'Etching Rate' compared to the others.